@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Heebo:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Heebo:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Water+Brush&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* .........main................. */

.main-section {
  width: 100%;
  height: 768px;
  /* border: 2px solid brown; */
  background-image: url(../images/main/main-background-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  padding: 20px 15px 0 15px;
  margin-bottom: 70px;
}

.conteiner {
  max-width: 1200px;
  margin: 0px auto;
  border: 2px solid green;
  font-family: "Work Sans", sans-serif;
}

/* ...................HEADER.................... */
.logo {
  font-family: "Water Brush", cursive;
  font-size: 35px;
  font-weight: 500;
  line-height: 100%;
  color: #ee1c45;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 150px;
}
.menu-icon {
  display: none;
}
.header-ul-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 50px;
}
.li-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  color: beige;
  position: relative;
}

.li-item::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 1px;
  width: 0%;
  background-color: beige;
  transition: 0.3s;
}

.li-item:hover::after {
  width: 100%;
}

.sign {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 33px;
}

.sign-in {
  font-weight: 700;
}
.btn-sign-up {
  width: 100px;
  height: 48px;
  border-radius: 18px;
  background: linear-gradient(
    90deg,
    rgba(205, 26, 64, 1) 0%,
    rgba(255, 128, 60, 1) 50%
  );
  text-decoration: none;
  box-shadow: 0px 5px 10px 0px rgba(205, 26, 64, 0.22);
  -webkit-box-shadow: 0px 5px 10px 0px rgba(205, 26, 64, 0.22);
  -moz-box-shadow: 0px 5px 10px 0px rgba(205, 26, 64, 0.22);
}
.btn-sign-up:hover::after {
  width: 0%;
}

/* ...............MAIN................... */
.main-content {
  max-width: 580px;
  min-height: 415px;
  /* border: 2px solid salmon; */
  position: relative;
}
.main-h2 {
  font-family: "Water Brush", cursive;
  font-size: 46px;
  font-weight: 400;
  line-height: 100%;
  color: #ee1c45;
  margin-bottom: 20px;
}
h1 {
  font-size: 86px;
  font-weight: 700;
  line-height: 100%;
  color: beige;
  margin-bottom: 20px;
}
.para-main {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: beige;
  margin-bottom: 50px;
}

.inputs {
  max-width: 580px;
  min-height: 96px;
  /* border: 2px solid red; */
  border-radius: 28px;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px;
}
.span-line-input {
  width: 1px;
  height: 24px;
  border: 1px solid #fff;
}
#select-country {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: beige;
  background-color: transparent;
  border: none;
}

#date1 {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: beige;
  background-color: transparent;
  border: none;
}

.search-icon {
  width: 65px;
  height: 65px;
  border-radius: 18px;
  background: linear-gradient(
    90deg,
    rgba(205, 26, 64, 1) 0%,
    rgba(255, 128, 60, 1) 50%
  );
}

.input1 {
  display: none;
}
.input2 {
  display: none;
}
.div-button {
  display: none;
}

/* ........SECTION DESTINATION.......... */

.section-destination {
  margin-bottom: 100px;
}

h3 {
  font-weight: 200;
  font-size: 64px;
  line-height: 100%;
  color: #1e1e1e;
  text-align: center;
  margin-bottom: 35px;
}
span {
  font-weight: 400;
  font-size: 46px;
  color: #cd1a40;
  font-family: "Water Brush", cursive;
}

.image-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding: 15px;
  justify-content: center;
  margin-bottom: 15px;
}

.image-item {
  flex: 1 1 250px; /* grow, shrink, basis */
  max-width: calc(50% - 10px); /* Two images per row on medium screens */
  position: relative;
}

.image-item img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
  object-fit: cover;
}
.para-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.para-btn-country {
  font-family: "Water Brush", cursive;
  font-size: 46px;
  line-height: 100%;
  color: beige;
  margin-bottom: 20px;
}
.btn-tours {
  width: 100px;
  height: 48px;
  border-radius: 18px;
  font-size: 14px;
  color: beige;
  line-height: 100%;

  background: linear-gradient(
    90deg,
    rgba(205, 26, 64, 1) 0%,
    rgba(255, 128, 60, 1) 50%
  );
}
.div-button-destination {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-view-more {
  width: 122px;
  height: 54px;
  font-weight: 400;
  margin: 0px auto;
}

/* ........SECTION ACTIVITIES.......... */
.card-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding: 15px;
  justify-content: center;
  margin-bottom: 15px;
}
.card-item {
  width: 378px;
  height: 412px;
  border: 1px solid yellowgreen;
  flex: 1 1 300px;
  max-width: calc(50% - 10px);
  background-color: #fff9f0;
  padding: 58px 33px 33px;
  text-align: center;
}
